.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
	zoom: 1
}

.clear {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	font-size: 0
}
.yan_top{
	width: 100%;
	height: 190px;
	border-bottom: solid 2px #333333;
}
.gh_top{
	width: 100%;
	height: 33px;
	border-bottom: solid 1px #e6e6e6;
}
.yan_top_one{
	width: 1190px;
	height: 33px;
	margin: 0 auto;
}
.yan_top_one_left{
	float: left;
	font-size: 12px;
	width: 90px;
	height:33px;
}
.yan_top_one_left img{
	width: 14px;
	height: 17px;
	margin-left: 8px;
	margin-top: 9px;
	float: left;
}
.yan_top_one_left a{
	float: left;
	width: 67px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	color: #999999;
	margin-left: 1px;
	list-style: none;
	text-decoration: none;	
}
.yan_top_one_left a:hover{
	color: #ec2029;
}
.yan_top_one_right{
	float: right;
	height: 33px;
}
.yan_top_one_right ul{
	height: 33px;
	margin: 0 auto;
	float: left;
}
.yan_top_one_right ul li{
	margin-top: 11px;
	height: 12px;
	font-size: 12px;	
	list-style: none;
	line-height: 12px;
	float: left;
}
.yan_top_one_right li a{
	color: #999999;
	text-decoration: none;
}
.yan_top_one_right li a:hover{
	color: #333333;
}
.yan_top_one_dl{
	padding-right: 17px;
	color: #999999;
}
.yan_top_one_li{
	border-left: solid 1px #e8e8e8;
	text-align: center;
	display: block;
	padding-right: 18px;
	padding-left: 18px;
}
.yan_top_one_li1{
	border-left: solid 1px #e8e8e8;
	border-right: solid 1px #e8e8e8;
	width: 82px;
	text-align: center;
	display: block;
}
.yan_top_one_gj{
	padding-left: 18px;
	width: 90px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #e8e8e8;
}
.yan_top_one_gq{
	width: 60px;
	height: 18px;
	display: block;
	margin-top: -3px;
	background: url(../img/gq.png) no-repeat;	
}
.yan_top_one_gq:hover{
	background: url(../img/gq1.png) no-repeat;
}
.yan_top_one_yc{
	border: solid 1px #e6e6e6;
	border-top: none;
	display: none;
	width: 86px;
	margin-left: -19px;
	background: white;
	position: absolute;
	z-index: 50;
	padding-top: 6px;
}
.yan_top_one_yc p:hover{
	background-color: #DFDFDF;
}
.yan_top_one_yc p{
	padding-top: 6px;
	padding-bottom: 6px;
}
.yan_top_one_yc1 p{
	padding-top: 12px;
}
.yan_top_one_yc0{
	padding-bottom: 12px;
}
.yan_top_one_li1:hover .yan_top_one_yc{
	display: block;
}
.yan_top_one_li:hover .yan_top_one_yc{
	display: block;
}
.yan_top_one_yc1{
	border: solid 1px #e6e6e6;
	display: none;
	width: 120px;
	margin-left: -80px;
	z-index: 999;
	background: white;
	text-align: center;	
}
.yan_top_one_gj:hover .yan_top_one_yc1{
	display: block;
}
#person-top *,#person-l-toolbar *,.yan_bottom *{box-sizing:content-box;}
/*------------------------------headeer1完结------------------------------*/

.yan_top_one_yc{text-align: center}
.china:hover .yan_top_one_yc{display: block;}

